* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: white;

    font-family: Arial;

    overflow: hidden;
}

#all {
    display: table;
    width: 100%;
    height: 100%;
}

#inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

section {
    position: relative;
}

.clock .hours, .clock .minutes, .clock .column {
    display: inline-block;
}

#clock {
    text-align: center;
}

#clock .date {
    font-size: 25px;
}

#clock .clock {
    font-size: 100px;
}

#clock .countdown {
    font-size: 10px;
}

#clock .weather {
    font-size: 20px;
    margin-top: 10px;
}

#clock .weather img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

#message {
    text-align: center;
}

#message .clock {
    font-size: 25px;
}

#message p {
    font-size: 50px;
    padding: 20px;
}

#close-video-button {
    position: absolute;
    top: 0px;
    right: 0px;
}

#controls-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#controls-container button {
    min-height: 100px;
    min-width: 100px;
    width: 100%;
    font-size: 20px;
}

#controls-container div {
    /* display: grid-item; */
}