* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: white;

    font-family: Arial;
}

#all {
    display: table;
    width: 100%;
    height: 100%;
}

#inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

section {
    position: relative;
}

.clock .hours, .clock .minutes, .clock .column {
    display: inline-block;
}

#clock {
    text-align: center;
    font-size: 100px;
}

#message {
    text-align: center;
}

#message .clock {
    font-size: 25px;
}

#message p {
    font-size: 50px;
    padding: 20px;
} 

#toolbar {
    position: absolute;
    bottom: 0px;
}

#toolbar li {
    display: inline-block;
}